
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 54, 54);
  border: 2px solid yellow;
}

.logo{
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.flexin {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 3rem;
}

.box1 {
  padding-right: 1rem;
}

.box2 {
  margin-right: auto;
}

.box3 {
  margin-right: auto;
}

.flexin li:last-child{
  margin-right: .5rem
}

.search-input, ::placeholder {
  width: 15rem;
  height: 2rem;
  border-radius: .5rem;
  background-color: rgb(54, 54, 54);
  color: white;
}

.search-button {
  height: 2rem;
  border-radius: .5rem;
  background-color: rgb(54, 54, 54);
  color: white;
}

.maincontainer {
  display: flex;
}

.sidebar {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-basis: 20%;
  border: 2px solid red;
  color: white;
}

.sidelist li {
  border: 1px solid orange;
}

.sidelist li:not(:first-child) {
  margin: 2rem 0;
}

.streamerlist {
  display: flex;
  flex-basis: 80%;
  border: 2px solid green;
}

.streamerlist ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.streamerlist ul li {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  color: white;
  margin: 1.5rem;
}

.contact-form h2{
font-size: 2rem;
color: white;
font-weight: bold;
text-align: center;
padding-top: 1rem;
}

.contact-form p{
  color: white;
  text-align: center;
  padding-top: 1.5rem;
}

.contact-form{
  border-top: 2px solid white;
}

.copyright{
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}

.contact-form a{
display: flex;
justify-content: center;
padding: 1.5rem 0;
font-weight: bold;
text-decoration: underline;
}