/* 

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 55, 55);
    /* border: 2px solid white; 
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;;
}

header nav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

ul li {
    list-style: none;
    color: white;
    display: inline-flex;
    padding: 0 5rem ;
}
.logo{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}
form {
    background-color: #525252;
    width: 25%;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    margin-left: 33rem;
    align-items: center;
  }
  input {
    all: unset;
    font: 1.5rem system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  i{
    color: #fff;
    background-color: transparent;
    font-size: 1.5rem;
  }
a{
 text-decoration: none;
 color: white;
 font-size: 1.8rem;
}
.square1,.square2,.square3,.square4{
    border: 1px solid white;
    height: 20rem;
    width: 31rem;
    display: inline-block;
    margin-top: 10rem;
}
.sidebar{
background-color: transparent;
border: 2px solid black;
width: 15%;
height: 100vh;
margin-top: 10vh;
position: fixed;
top: 0;
z-index: 10;
} */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 54, 54);
  border: 2px solid yellow;
}

.logo{
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.flexin {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 3rem;
}

.box1 {
  padding-right: 1rem;
}

.box2 {
  margin-right: auto;
}

.box3 {
  margin-right: auto;
}

.flexin li:last-child{
  margin-right: .5rem
}

.search-input, ::placeholder {
  width: 15rem;
  height: 2rem;
  border-radius: .5rem;
  background-color: rgb(54, 54, 54);
  color: white;
}

.search-button {
  height: 2rem;
  border-radius: .5rem;
  background-color: rgb(54, 54, 54);
  color: white;
}

.maincontainer {
  display: flex;
}

.sidebar {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-basis: 20%;
  border: 2px solid red;
  color: white;
}

.sidelist li {
  border: 1px solid orange;
}

.sidelist li:not(:first-child) {
  margin: 2rem 0;
}

.streamerlist {
  display: flex;
  flex-basis: 80%;
  border: 2px solid green;
}

.streamerlist ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.streamerlist ul li {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  color: white;
  margin: 1.5rem;
}